body {
  margin:0px;
  background-color:rgba(246, 247, 249, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1100px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:947px;
  height:322px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1225 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:20px;
  width:947px;
  height:322px;
}
#u1225_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:51px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  text-align:left;
}
#u1226 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:370px;
  width:1100px;
  height:51px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  text-align:left;
}
#u1226_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:16px;
  width:1078px;
  word-wrap:break-word;
}
#u1227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:982px;
  height:610px;
}
#u1227 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:458px;
  width:982px;
  height:610px;
}
#u1227_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:51px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#1E1E1E;
  text-align:left;
}
#u1228 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1140px;
  width:1100px;
  height:51px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#1E1E1E;
  text-align:left;
}
#u1228_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:16px;
  width:1078px;
  word-wrap:break-word;
}
#u1229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:51px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#1E1E1E;
  text-align:left;
}
#u1229 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1210px;
  width:1100px;
  height:51px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#1E1E1E;
  text-align:left;
}
#u1229_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:16px;
  width:1078px;
  word-wrap:break-word;
}
#u1230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:855px;
  height:292px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1230 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:43px;
  width:855px;
  height:292px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1230_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:855px;
  word-wrap:break-word;
}
